@page
@model Prepaid_Mobile_Topup_Core_Web_App.Pages.MobileAccounts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Mobile Accounts</h1>

<p>
    <a class="btn btn-info" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MobileAccount[0].Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileAccount[0].Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileAccount[0].PrepaidCustomer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MobileAccount) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrepaidCustomer.Name)
            </td>
            <td>
                <a class="btn btn-info" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-info" asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-info" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
